[submodule "gateway/GatewayRPI/GatewayRPI/lib/fmt"]
	path = gateway/GatewayRPI/GatewayRPI/lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "gateway/GatewayRPI/GatewayRPI/lib/SQLite"]
	path = gateway/GatewayRPI/GatewayRPI/lib/SQLite
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "gateway/GatewayRPI/GatewayRPI/lib/MQTT_C"]
	path = gateway/GatewayRPI/GatewayRPI/lib/MQTT_C
	url = https://github.com/eclipse/paho.mqtt.c.git
[submodule "gateway/GatewayRPI/GatewayRPI/lib/MQTT_CPP"]
	path = gateway/GatewayRPI/GatewayRPI/lib/MQTT_CPP
	url = https://github.com/eclipse/paho.mqtt.cpp.git
[submodule "gateway/GatewayRPI/GatewayRPI/lib/RadioHead_fork"]
	path = gateway/GatewayRPI/GatewayRPI/lib/RadioHead_fork
	url = https://github.com/hallard/RadioHead.git