[submodule "gateway/GatewayRPI/GatewayRPI/lib/mqtt"]
	path = gateway/GatewayRPI/GatewayRPI/lib/mqtt
	url = git://github.com/eclipse/paho.mqtt.embedded-c.git
[submodule "gateway/GatewayRPI/GatewayRPI/lib/fmt"]
	path = gateway/GatewayRPI/GatewayRPI/lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "gateway/GatewayRPI/GatewayRPI/lib/SQLite"]
	path = gateway/GatewayRPI/GatewayRPI/lib/SQLite
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "gateway\\GatewayRPI\\GatewayRPI\\lib\\RadioHead"]
	path = gateway\\GatewayRPI\\GatewayRPI\\lib\\RadioHead
	url = https://github.com/adafruit/RadioHead.git
