[submodule "fireServer/alarm_monitoring/alarm_monitoring/lib/fmt"]
	path = fireServer/alarm_monitoring/alarm_monitoring/lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "fireServer/alarm_monitoring/alarm_monitoring/lib/SQLite"]
	path = fireServer/alarm_monitoring/alarm_monitoring/lib/SQLite
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "fireServer/alarm_monitoring/alarm_monitoring/lib/MQTT_CPP"]
	path = fireServer/alarm_monitoring/alarm_monitoring/lib/MQTT_CPP
	url = https://github.com/eclipse/paho.mqtt.cpp.git
[submodule "fireServer/alarm_monitoring/alarm_monitoring/lib/RadioHead_fork"]
	path = fireServer/alarm_monitoring/alarm_monitoring/lib/RadioHead_fork
	url = https://github.com/hallard/RadioHead.git
[submodule "fireServer/alarm_monitoring/alarm_monitoring/lib/rapidjson"]
	path = fireServer/alarm_monitoring/alarm_monitoring/lib/rapidjson
	url = https://github.com/Tencent/rapidjson.git
