html, body, form, fieldset{
  width: 99%;
  height: 99%;
  background-color: #f0f2f2;
}
fieldset{
   border-style: none;
}
.item{
  flex: 1 1 auto;
  border: 3px outset rgba(24, 153, 142, 0.342);
  border-radius: 6px;
  font-size: large;
  padding: 3px;
  margin: 5px;
  font-family: Cambria,Verdana;
}
#inputCode{
  flex-grow: 2;
}
#inputCountry, #inputProvice{
  flex-grow: 4;
}
.container {
  width: 99%;
  height: 99%;
  display: flex; /* or inline-flex */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container_inner {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  height: 30%;
}